.cont {
    font-family: 'Changa', sans-serif;
    width: auto;
    height: auto;
    position: relative;
    padding-inline: 5%;
}
.cont::before, .cont::after {
    content: '';
    z-index: 5;
    width: 1%;
    height: 68%;
    position: absolute;
    top: 16%;
    border-radius: 25%;
    background: radial-gradient(#0b686a8c, #cbfdfd80 57%, #e6f99c9e, transparent);
    filter: blur(2.5px);
    transform-style: preserve-3d;
}
.cont::before {
    left: 0;       
    transform: perspective(55px) rotateY(-20deg);
    box-shadow: 1rem 0 1rem 0 #34eddaa3, 1.5rem 0 1rem 0 #ff000082, 2rem 0 0.7rem 0 #4efb5b80, 2rem 0 1rem 0.7rem #f3e2646e;
}
.cont::after {
    right: 0;        
    transform: perspective(55px) rotateY(20deg);
    box-shadow: -1rem 0 1rem 0 #34eddaa3, -1.5rem 0 1rem 0 #ff000082, -2rem 0 0.7rem 0 #4efb5b80, -2rem 0 1rem 0.7rem #f3e2646e;
}

.slider {
    height: auto;
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: 42%;
    gap: 1rem;
    padding-block: 11%;

    background: transparent;
    overflow: hidden;
    overflow-x: auto;
    overscroll-behavior-inline: contain;
    scroll-snap-type: inline mandatory;
    scroll-padding-inline: 1rem;
    scrollbar-color: #f9f10b red;
    scrollbar-width: 2rem;
}
.slider::-webkit-scrollbar {
    width: 2rem;
}

.slider::-webkit-scrollbar-track {
    background: #fdcece28;
}
.slider::-webkit-scrollbar-thumb {
    background-color: #f0e91268;
    border-radius: 10px;
}

.slider > section {
    height: 100%;
    display: grid;
    grid-template-rows: min-content;
    gap: 0.5rem;
    place-items: center;
    text-align: center;
    border-radius: 1rem;
    border: 1px solid #fff;
    box-shadow: 0 -2px 0 0 rgba(255, 255, 255, 0.5), 0 0 1rem 0 rgba(13, 123, 7, 0.2),
    0 0 0.75rem 0.15rem rgba(185, 247, 61, 0.25), inset 0 0 0.55rem 0.25rem rgba(185, 247, 61, 0.2);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: saturate(0.5) blur(3px);

    scroll-snap-align: center;
}

.slider section > div {
    margin: 7% 3% 0 3%;
    size: 55%;
}

.slider > section h1 {
    margin: 0 auto;
}
.slider > section > a {
    font-size: 0.77em;
}

.slider > section ul {
    list-style-type: none;
    list-style-image: radial-gradient(red, pink, yellow);
    margin: 0 auto;
    text-align: left;
}
